<div class="input-block {{{addClass}}}">
	<label class="input-block__label">{{label-text}}</label>
	<input
		class="input-block__input"
<<<<<<< HEAD
		type={{type}}
		name={{name}}
		placeholder="{{placeholder}}"
	/>
</div>
=======
		type="{{type}}"
		name="{{name}}"
		placeholder="{{placeholder}}"
	/>
</div>
>>>>>>> dev
