<div class="btn {{addClass}}">
<<<<<<< HEAD
	{{#if href}}
		<a href="{{href}}">{{btn-text}}</a>
	{{else}}
		<button type="button">{{btn-text}}</button>
	{{/if}}
</div>
=======
		{{#if href}}
			<a href="{{href}}">{{textBtn}}</a>
		{{else}}
			<button  
			{{#if type}}
			type="{{type}}"
			{{else}}
			type="button"
			{{/if}}
			onClick="{{onClick}}"
			>{{textBtn}}</button>
		{{/if}}
	</div>
>>>>>>> test
