<<<<<<< HEAD
<h1 class="title {{{addClass}}}">
	{{text}}
</h1>
=======

{{#if tag}}
	<{{tag}} class="{{addClass}} title">{{text}}</{{tag}}>
	{{else}}
	<h1 class="{{addClass}} title">{{text}}</h1>
	{{/if}}

>>>>>>> dev
